section
    div.bloc-container
        div.img-container
            div.url-preview
        input.modal-url-input(placeholder="url of an image on the web", value="https://weechat.org/media/images/weechat_logo_small.png")
        //- for tests : value="https://weechat.org/media/images/weechat_logo_small.png"